__pycache__/
*.py[cod]

.venv/

.env
.env.*

.pytest_cache/
.mypy_cache/
.cache/
.ruff_cache/
.pyright/

build/
dist/
*.egg-info/

.coverage
htmlcov/
coverage.xml

.vscode/
.idea/

.DS_Store
Thumbs.db
node_modules/
npm-debug.log*
yarn-error.log
pnpm-debug.log

*.log
